In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("mushrooms.csv")

In [5]:
df.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [6]:
df['class'].unique()

array(['p', 'e'], dtype=object)

In [7]:
df['class']>'e'

0        True
1       False
2       False
3        True
4       False
5       False
6       False
7       False
8        True
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20      False
21       True
22      False
23      False
24      False
25       True
26      False
27      False
28      False
29      False
        ...
8094    False
8095     True
8096    False
8097     True
8098     True
8099    False
8100    False
8101     True
8102    False
8103    False
8104    False
8105    False
8106    False
8107    False
8108     True
8109    False
8110    False
8111    False
8112    False
8113     True
8114     True
8115    False
8116     True
8117     True
8118     True
8119    False
8120    False
8121    False
8122     True
8123    False
Name: class, Length: 8124, dtype: bool

In [8]:
df1=df['class']>'e'

In [9]:
df1

0        True
1       False
2       False
3        True
4       False
5       False
6       False
7       False
8        True
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20      False
21       True
22      False
23      False
24      False
25       True
26      False
27      False
28      False
29      False
        ...
8094    False
8095     True
8096    False
8097     True
8098     True
8099    False
8100    False
8101     True
8102    False
8103    False
8104    False
8105    False
8106    False
8107    False
8108     True
8109    False
8110    False
8111    False
8112    False
8113     True
8114     True
8115    False
8116     True
8117     True
8118     True
8119    False
8120    False
8121    False
8122     True
8123    False
Name: class, Length: 8124, dtype: bool

In [11]:
df1.to_csv('new_mushroom.csv')

In [12]:
df2=pandas.read_csv('new_mushroom.csv')

In [13]:
df2

         0   True
0        1  False
1        2  False
2        3   True
3        4  False
4        5  False
5        6  False
6        7  False
7        8   True
8        9  False
9       10  False
10      11  False
11      12  False
12      13   True
13      14  False
14      15  False
15      16  False
16      17   True
17      18   True
18      19   True
19      20  False
20      21   True
21      22  False
22      23  False
23      24  False
24      25   True
25      26  False
26      27  False
27      28  False
28      29  False
29      30  False
...    ...    ...
8093  8094  False
8094  8095   True
8095  8096  False
8096  8097   True
8097  8098   True
8098  8099  False
8099  8100  False
8100  8101   True
8101  8102  False
8102  8103  False
8103  8104  False
8104  8105  False
8105  8106  False
8106  8107  False
8107  8108   True
8108  8109  False
8109  8110  False
8110  8111  False
8111  8112  False
8112  8113   True
8113  8114   True
8114  8115  False
8115  8116   True
8116  8117   True
8117  8118   True
8118  8119  False
8119  8120  False
8120  8121  False
8121  8122   True
8122  8123  False

[8123 rows x 2 columns]